.container {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(0deg, #fff, #eae6ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  height: 68.25px;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.trello_logo {
  width: 126px;
  height: 36px;
}

.nav_buttons {
  width: 152.14px;
  height: 36.25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button {
  color: #0065ff;
  padding: 4px 8px;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-decoration: none;
  border: 1px solid inherit;
}

.signup_button {
  color: white;
  text-decoration: none;
  background-color: #0065ff;
  padding: 0.25rem 0.5rem;
  font-size: 1.09375rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  font-weight: 600;
}

.hero_box {
  width: 540px;
  height: 368px;
  padding: 0px 15px;
  margin: 0px -15px;
 
}



.title_container {
  width: 100%;
}

.hero_box_title {
  font-size: 2rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family:"Charlie_Text" , sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 41px;
  color: #091E42;
}

.hero_box_description {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Charlie_Text", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: #091E42;
}

.hero_box_signup_button_container {
  margin-top: 44px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: flex-start;
  /* padding: 0px 15px; */
}

.hero_box_email_input {

 padding: 5px;
}

.email_input{
  width: 364px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.hero_box_signup_button {
  width: 100%;
  height: 44px;
  background-color: #0065ff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 20px;
 margin-right: 5px;
 margin-left: -10px;
}
@media only screen and (min-width: 1200px) {
  .hero_box {
    height: 575px;
    width: 1140px;
    display: flex;
    /* align-items: center; */
    margin-top: 34px;
    /* overflow: hidden; */
   
  }

  .title_container {
    /* height: 100%; */
    width: 635px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 45px;
    
  }

  .hero_image {
    width: 443px;
    height: 554px;
    margin: 10px -100px 0px 104px;
    /* padding: 0px 15px; */
    overflow:hidden;
  
  }
  .product{
    width: 1140px;
    height: 1263px;
    color: #091E42;
    font-family: "Charlie_Text", sans-serif;
    font-size: 20px;
    margin: 0px 35px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .container_product{
    color: #091E42;
    margin: 0px 36px ;
    padding: 25px 15px;
  }
  
  .header_para_product{
    color: #091E42;
    font-family: "Charlie_Text", sans-serif;
    margin: 0px 70px 0px 14px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .header_para_product h2 {
    margin: 0px 0px 13px;
    font-family: sans-serif;
    font-size: 30px;
  }

 .header_para_product p {
    margin: 0px 0px 30px;
    font-family: sans-serif;
    line-height: 1.5;
  }

  .btn_start_doing_product{
    text-decoration: none;
    border: 1px solid #0065ff;
    width: 165px;
    height: 44px;
    padding: 6px 16px;
    cursor: pointer;
    color: #0065ff;
    border-radius: 5px;
    
  }

   p :hover {
    text-decoration: none;
    border: 1px solid #0065ff;
    width: 165px;
    height: 44px;
    padding: 6px 16px;
    cursor: pointer;
    background-color: #0065ff;
    color: #eae6ff;
    border-radius: 5px;
  }

  .img_board_product{
    width: 1110px;
    height: 778px;
    border-style: none;
  }
  
  .footer_product{
    color: #091E42;
    font-family: "Charlie_Text", sans-serif;
    margin: 0px 15px;
    width: 1140px;
    height: 93px;
    padding: 0px 15px;
    
  }

  .footer_product_p{
    width: 1110px;
    height: 30px;
    margin: 0px 0px 24px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .footer_product_div{
    width: 1110px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .google_logo{
    width: 99px;
    height: 33px;
    margin: 0px 16px;
  }

  .fender_logo{
    width: 102px;
    height: 39px;
    margin: 0px 16px;
  }

  .squarespace_logo{
    width: 155px;
    height: 22px;
    margin: 0px 16px;
  }

  .costco_logo{
    width: 99px;
    height: 28px;
    margin: 0px 16px;
  }

  .features{
    width: 1212px;
    height: 1950px;
    color: #091E42;
    padding: 4px 15px;
  }

  .features_row1_div{
    width: 1140px;
    height: 280px;
    margin: 0px 15px ;
    padding: 4px 0px ;
  }

  .features_row2_div{
    width: 1140px;
    height: 325px;
    margin: 25px 15px;
    padding: 26px 0px;
    display: flex;
    
  }
 
  .features_row3_div{
    width: 1140px;
    height: 400px;
    margin: 28px 15px;
    padding: 48px 0px;
    display: flex;
  }

  .features_row4_div{
    width: 1140px;
    height: 355px;
    margin: 0px 15px;
    padding: 48px 0px;
    display: flex;
  }

  .features_row5_div{
    width: 1140px;
    height: 325px;
    margin: 0px 15px;
    padding: 48px 0px;
    display: flex;
  }
  .features_row1_col1{
    width: 570px;
    height: 278;
  }

  .features_row2_col1{
    width:475px ;
    height: 335px;
  }
  .features_fluid_img{
    width: 445px;
    height: 350px;
    margin: 0px 13px;
  }

  .features_row2_col2{
    width: 665px;
    height: 335px;
    margin: 0px 15px;
  }
  .features_row2_col2 h5{
    width: 635px;
    height: 20px;
    margin: 0px 0px 8px 5px;
    font-size: 18px;
    font-family: sans-serif;
  }
  .features_row2_col2 h2{
    width:635 px;
    height: 48px;
    margin: 0px 0px 8px 5px;
    font-size: 27px;
    font-family: sans-serif;
  }
  .features_row2_col2 p{
    width:635 px;
    height: 90px;
    margin: 0px 0px 24px 5px;
    color: #7A869A;
    font-size: 21px;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  .features_row2_col2 a{
    width: 138px;
    height: 32px;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    color: #091E42;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
  }
  .features_row2_col2 a:hover{
    text-decoration: underline;
  }

  .features_row3_col1{
    width: 665px;
    height: 361px;
    margin: 20px 15px;
  }
  .features_row3_col1 h5{
    width: 635px;
    height: 20px;
    color: #091E42;
    font-family: sans-serif;
    margin: 10px 0px 8px;
    font-size: 16px;
  }
  .features_row3_col1 h2{
    width: 635px;
    height: 48px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px;
    font-size: 32px;

  }
  .features_row3_col1 p{
    width: 635px;
    height: 120px;
    color: #7A869A;
    font-family: sans-serif;
    margin: 0px 0px 24px;
    font-size: 21px;
    line-height: 1.5;
  }
  .features_row3_col1 h3 a {
    width: 138px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .features_row3_col1 h3 a:hover{
    text-decoration: underline;
  }

  .features_row3_col2{
    width: 475px;
    height: 361px;
  }
  .features_cardBack_svg{
    width: 465px;
    height: 375px;
    padding: 15px 0px;
  }

  .features_row4_col1{
    width: 445px;
    height: 336px;
  }
  .features_automation-png{
    width: 445px;
    height: 336px;
  }

  .features_row4_col2{
    width: 665px;
    height: 336px;
    margin-left: 15px;
  }
  .features_row4_col2 h5{
    width: 635px;
    height: 20px;
    color: #091E42;
    font-family: sans-serif;
    margin: 10px 0px 8px;
    font-size: 16px;
  }
  .features_row4_col2 h2{
    width: 635px;
    height: 48px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px;
    font-size: 33px;
  }

  .features_row4_col2 p {
    width: 635px;
    height: 120px;
    color: #7A869A;
    font-family: sans-serif;
    margin: 0px 0px 24px;
    font-size: 21px;
    line-height: 1.5;
  }
  .features_row4_col2 a{
    width: 138px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .features_row4_col2 a:hover{
    text-decoration: underline;
  }
  .features_row5_col1{
    width:665px ;
    height: 400px;
    margin: 25px 15px;

  }
  .features_row5_col1 h5{
    width: 635px;
    height: 20px;
    color: #091E42;
    font-family: sans-serif;
    margin: 10px 0px 8px;
    font-size: 16px;
  }
  .features_row5_col1 h2{
    width: 635px;
    height: 48px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px;
    font-size: 33px;

  }
  .features_row5_col1 p{
    width: 635px;
    height: 120px;
    color: #7A869A;
    font-family: sans-serif;
    margin: 0px 0px 24px;
    font-size: 21px;
    line-height: 1.5;
  }
  .features_row5_col1 a{
    width: 138px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  .features_row5_col1 a:hover{
    text-decoration: underline;
  }

  .features_row5_col2{
    width: 475px;
    height: 400px;
  }
  .features_power-png{
    width: 435px;
    height: 390px;
    margin-left: 15px;
  }
  .order_container{
    width: 1140px;
    height: 245px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #091E42;
    border-top: 1px solid #091E42;
  }
  .order_col1{
    width: 143px;
    height: 190px;
    padding: 6px 15px;
  }
  .order_tag_svg{
    width: 103px;
    height: 167px;

  }

  .order_col2{
    width: 428px;
    height: 190px;
    padding: 0px 15px;
  }
  .order_col2 h3{
    width: 397px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px;
    font-size: 22px;

  }
  .order_col2 p {
    width: 397px;
    height: 112px;
    color: #091E42;
    font-family: sans-serif;
    margin: 8px ;
    font-size: 22px;
    line-height: 1.5;

  }
  .order_col2 a{
    width: 150px;
    height: 37px;
    color: #0065ff;
    font-family: sans-serif;
    padding: 7px 24px;
    text-decoration: none;
    border: 1px solid #0065ff;
    border-radius: 5px;
    margin: 7px 5px;
    font-size: 20px;
  }
  .order_col2 a:hover{
    width: 150px;
    height: 37px;
    color: white;
    background-color: #0065ff;
    font-family: sans-serif;
    padding: 7px 24px;
    text-decoration: none;
    border: 1px solid #0065ff;
    border-radius: 5px;
    margin: 7px 5px;
    font-size: 20px;
  }

  .order_col3{
    width: 143px;
    height: 190px;
    padding: 0px 15px;
  }
  .order_compass_svg{
    width: 112px;
    height: 135px;
  }
  .order_col4{
    width: 427px;
    height: 190px;
    padding: 0px 15px;
  }
  .order_col4 h3{
    width: 397px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px;
    font-size: 22px;
  }
  .order_col4 p{
    width: 397px;
    height: 112px;
    color: #091E42;
    font-family: sans-serif;
    margin: 8px ;
    font-size: 22px;
    line-height: 1.5;
  }
  .order_col4 a{
    width: 135px;
    height: 36px;
    color: #0065ff;
    font-family: sans-serif;
    padding: 7px 24px;
    text-decoration: none;
    border: 1px solid #0065ff;
    border-radius: 5px;
    margin: 7px 5px;
    font-size: 20px;
  }
  
  .order_col4 a:hover{
    width: 135px;
    height: 36px;
    color:white;
    background-color: #0065ff;
    font-family: sans-serif;
    padding: 7px 24px;
    text-decoration: none;
    border: 1px solid #0065ff;
    border-radius: 5px;
    margin: 7px 5px;
    font-size: 20px;
  }
  .carousel{
    width: 100vw;
    height: 470px;
    margin: 45px 36px;
    padding: 48px 15px;
    background-color: #e6fcff;
    color: #091E42;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  .carousel_row1{
    width: 1140px;
    height: 282px;
    display: flex;
  }
  .carousel_row1_col1{
    width: 285px;
    height: 236px;
    padding: 0px 15px;
  }
  .carousel_ebay_svg{
    width: 270px;
    height: 120px;
    margin: -10px 0px 48px -10px;
  }
  .carousel_row1_col2{
    width: 855px;
    height: 234px;
    padding: 0px 15px;
  }
  .carousel_row2{
    width: 1110px;
    height: 55px;
    margin: 32px 0px 0px 35px;
    padding: 12px 0px 0px 0px;
    display: flex;
    border-top: 5px solid #091E42;
  }
  .carousel_row1_col1 h5{
    width: 255px;
    height: 20px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px 0px;
    padding: 0px 35px;
    font-size: 16px;
  }
  .carousel_row1_col1 h3 {
    width: 255px;
    height: 32px;
    color: #091E42;
    font-family: sans-serif;
    margin: 0px 0px 8px 0px;
    padding: 0px 35px;
    font-size: 22px;
  }
  .carousel_row1_col2_quote {
    color: #091E42;
    font-family: sans-serif;
    padding: 24px 0px 0px 45px;
    margin: 0px 0px 10px 10px;
    font-size: 33px;
  }
  .carousel_row1_col2_footer{
    display: flex;
    flex-direction: column;
    
  }
  .carousel_row1_col2_span2{
    width: 137px;
    height: 50px;
    color: #091E42;
    font-family: sans-serif;
   align-self: flex-end;
  }
  .sign_up_container{
    width: 1211px;
    height: 412px;
  }
  .sign_up{
    width: 1140px;
    height: 412px;
    padding: 10px 15px;
    margin: 0px 36px ;
    color: #ffffff;
   
  }
  .sign_up_text{
    width: 1110px;
    height: 300px;
    padding: 80px 15px;
    color: #ffffff;
    background-image: linear-gradient(0deg, #4c9aff, #403294 100%);
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/spirit/sign-up/95ae6a1535b6504e3572dc7393a2d482/background.svg),linear-gradient(0deg, #4c9aff, #403294 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
  }
  .sign_up_text h3{
    width: 708px;
    height: 65px;
    color: #ffffff;
    margin: 0px 0px 48px 200px;
    font-size: 23.5px;
    
    font-family: sans-serif;
  }
  .btn_signup_email{
    width: 1108px;
    height: 44px;
    color: #ffffff;
    margin: 0px -15px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    gap: 10px;
  }
  .btn_signup_email input[type="email"]{
    width: 350px;
    height: 48px;
    font-size: 22px;
    padding: 7px 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #ced4da;
    color: #495057;
  }
  .btn_signup_email button[type="submit"]{
    width: 165px;
    height: 48px;
    font-size: 22px;
    padding: 7px 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #4c9aff;
    color: #ffffff;
    background-color:#4c9aff;
  }
  .last_container{
    width: 1140px;
    height: 100px;
    margin: 0px 35px;
    padding: 16px 15px;
    display: flex;
    justify-content: flex-end;
    
  }
  .last_container p{
    width: 438px;
    height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0px 25px;
  }
  .google_play_svg{
    width: 160px;
    height: 50px;
    margin: 0px 8px;
  }
  .app_store_svg {
    width: 160px;
    height: 50px;
    margin: 0px 8px;
  }
  .global_footer{
    width: 1180px;
    height: 167px;
    margin: 64px 16px;
  }

}


